<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.worldquizzapp_jard">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_app_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetalleActivity"></activity>
    
        <activity android:name=".test_quizz.MainActivityQuizz"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">


        </activity>
        <activity android:name=".login.LogInActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>